.leaflet-container {
  /* Hide map figma crop */
  /* background: #4A5568; */
  outline: 0;
}

.map {
  height: 100vh;
}

.leaflet-top {
  margin-top: 40vh;
}

.leaflet-left {
  margin-left: 1vw;
}

.leaflet-bar {
  border: none !important;
}

.leaflet-control-zoom-in {
  background: #2d3748ab !important;
  border: 2px solid #364152ab !important;
  color: #bfc2c7 !important;
  margin-bottom: 5px;
}
.leaflet-control-zoom-out {
  background: #4a5568ab !important;
  border: 2px solid #2d3748ab !important;
  color: #bfc2c7 !important;
}

.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
  border-radius: 5px;
  box-shadow: 0px 0px 11px 2px #2d3748ab;
}
.leaflet-touch .leaflet-bar a:first-child:hover,
.leaflet-touch .leaflet-bar a:last-child:hover {
  background: #1e222bab !important;
}

.leaflet-touch .leaflet-bar a {
  line-height: 25px;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  text-indent: 0px;
}

.leaflet-interactive {
  cursor: pointer;
  fill: #ffffff00;
  stroke: #ffffff00;
  stroke-width: 1;
}
.leaflet-interactive:hover {
  fill: #ffffffaa;
  stroke: #909193bd;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #2d3748de;
  color: #bfc2c7;
  width: 170px;
  border-radius: 17px;
  /* text-align: start; */
}
